{% extends 'base.html.twig' %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <h1>Edit Episode</h1>

    {{ include('backoffice_episode/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backoffice_episode_index') }}">back to list</a>

    {{ include('backoffice_episode/_delete_form.html.twig') }}
{% endblock %}
